#redirect type indicates what type of redirection technique will be followed by server
#type lang - redirection based on language in HTTP header 
#type ring - redirection based on ring/circular model 
redirect.type = ring
 
#list of redirection URLs
redirect.urls = wikipedia.org/wiki/URL_redirection http://github.com google.com
